
@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind&display=swap");
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    text-align: center;
}
:root {
  --border-radius: 10px;
}
body{
    background: #e2e9f4;

    text-decoration: none;
}
.search{
  background: #e2e9f4;
  display: grid;
  height: 100%;
  grid-template: 1fr/100%;
  place-items: center;
  padding: 1% 0%;
}

.Card {
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    -67deg,
    rgba(200, 216, 231, 0.7),
    rgba(255, 255, 255, 0.8)
  );
  overflow: hidden;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;
  width: 30vw;
}

.CardInner {
  padding: 16px 16px;
  background-color: #e2e9f4;
  border-radius: var(--border-radius);
}

.container {
  display: flex;
}

.Icon {
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin-right: 12px;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;
}
.Icon svg {
  transform: translate(-1px, -1px);
}

label {
  font-family: "Hind", sans-serif;
  display: block;
  color: #3c4b66;
  margin-bottom: 12px;
  background: linear-gradient(45deg, #6b7b8f, #3c4b66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.InputContainer {
  width: 100%;
}

input {
  background-color: #e3edf7;
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;
}
input::placeholder {
  color: #6d7f8f;
}
input:focus {
  outline: none;
  color: #6d7f8f;
  background-color: #eff5fa;
}

.InputContainer {
  --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
  --bottom-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.7);
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.InputContainer:before,
.InputContainer:after {
  left: 0;
  top: 0;
  display: block;
  content: "";
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
}
.InputContainer:before {
  box-shadow: var(--bottom-shadow);
}
.InputContainer:after {
  box-shadow: var(--top-shadow);
}
/* uhui */

.cards{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     font-family: sans-serif;
     flex-direction: row;
     flex-wrap: wrap;
 }
 .cards > *{
     position: relative;
     
 }

 
 .content{
     margin: 20px 50px;
     width: 550px;
     height: 350px;
     background: rgba(255, 255, 255, 0.25);
     backdrop-filter: blur(5px);
     border: 4px solid rgba(255, 255, 255, 0.18);
     border-radius: 40px;
     overflow: scroll;
     z-index: 1;
 }
 
 h2{
     margin: 4vh 3.2vw;
     width: 30vw;
     font-size: 3em;
     letter-spacing: 1px;
     text-transform: uppercase;
 }
 
 p{
     width: 350px;
     font-size: 1em;
     margin: 6%;
     margin-left: 5vw;
 }
 
 button{
     margin-top: 0%;
     width: 150px;
     height: 40px;
     font-weight: bold;
     text-transform: uppercase;
     letter-spacing: 0.5px;
     word-spacing: 2px;
     background: transparent;
     border: 2.4px solid #fff;
     border-radius: 50px;
 }
 
 button:hover{
     transition: 0.5s;
     color: #000;
     background: #fff;
 }
 
 .circle{
     position: absolute;
     width: 300px;
     height: 300px;
     transform: translate(-15rem, 9rem);
     z-index: 0;
     border-radius: 50%;
     background: linear-gradient(to right,  #0062a3, #29ABE2);
 }
 
 .circle:nth-child(2){
     background: linear-gradient(to right, #F15, #F15A2A);
     transform: translate(15rem, -9rem);
 }